body{
    margin: 0;
    padding: 0;
    background-color: #ECF4FD;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
section div{
    float: right;
    margin-right: 20px;
}
nav{
    width: 100%;
    height: 65px;  
    background-color: white;/* rgb(225, 232, 245);*/
    box-shadow: 0px 2px 8px 0px rgb(187, 187, 187);
}
.nav-container{
    width: 100%;
    margin: 0 auto;
    float: left;
}
.nav-container .logo{
    width: 500px;
    height: 0px;
    float: left;
}
img{
    min-width: 150px;
    max-width: 200px;
}
.menu ul li{
    display:inline-block;
    list-style:none;
    font-size: 20px;
    margin-left: 0.3em;
    padding-right: 1em;
    font-weight: bold; 
    color:black; 
}
.menu ul li a:hover{
    color: rgb(140, 180, 194);
}
.menu ul li a{
    text-decoration: none;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #E2F0FF;
    color:rgba(14, 9, 9, 0.4);
    height: 2.2rem;
    font-size: small;   
    
 }
 .footer p{
     margin-left:15px;
     display: inline;
     line-height: 2.2rem;   
 }
 .footer .icons{
     float:right;
     padding-right: 100px;
     
 }
.fa{
     width: 50px;
     color:rgba(34, 34, 34, 0.4);
     line-height: 2.2rem;
 }
 .fa:hover{
     color:black;
 }
 .l-box{
    width: 320px;
    height: 400px;
    background: #F8F8F8;
    color:#080808;
    top: 40%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 30px;
    margin-top:50px;
    box-shadow: 0px 2px 8px 0px rgb(187, 187, 187);
}
h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 22px;
}
.l-box p{
    margin: 0;
    padding: 0;
    /*font-weight: bold;*/
    color:#5D5D5D;
}
.l-box input{
    width: 100%;
    margin-bottom: 20px;
}
.l-box input[type="date"], input[type="textarea"]
{
    border: none;
    border-bottom:  1px solid rgb(66, 65, 65);
    background: transparent;
    outline: none;
    height: 40px;
    color:#ADB5BF;
    font-size: 16px;
}
.l-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.l-box input[type="submit"]:hover
{
    cursor: pointer;
    background:rgb(157, 177, 194);
    color: #000;
    position:relative;
}
.l-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.l-box a:hover
{
    color:black;
}
.l-box select{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color:#ADB5BF;
    font-size: 16px;
}
.l-box select option{
    color:black;
}
.l-box textarea{
    border: none;
    border-bottom:1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color:black;
    font-size: 16px;
	margin-bottom:1em;
}
select{
    margin-bottom:1em;
	
}