<table>
<thead>
<tr>
    <th scope="col">User</th>
    <th scope="col">Type</th>
    <th scope="col">Day(s)</th>
    <th scope="col">Status</th>
    <th scope="col">Actions</th>
</tr>
</thead>
<tbody>
{% for leave in leave_list %}
<tr>
    <td>{{ leave.user }}</td>
    <td>{{ leave.leavetype}}</td>
    <td>{{ leave.leave_days }}</td>
    <td>{{ leave.status }}</td>
    <td> 
    <a href="{% url 'leaves_view_mh' leave.id %}">
        <span>view</span>
    </a>
    <a href="">
    <span>unapprove</span>
    </a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>