{% load staticfiles %}
<html>
<head>
<title>Leave Status</title>
<link rel="stylesheet" href="{% static 'css/all_tables.css' %}">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<section>
<table class="table">
  <thead class="thead-dark">
    <tr>
    <th>Employee</th>
    <th>Type</th>
    <th>Day(s)</th>
    <th>Status</th>
    <th>Actions</th>
    </tr>
    </thead>
  <tbody>
    {% for leave in leave_list %}
    <tr>
    <td>{{ leave.user }}</td>
    <td>{{ leave.leavetype }}</td>
    <td>{{ leave.leave_days }}</td>
    <td style="color:red;">{{ leave.status }}</td>
    <td><a href="{% url 'leaves_view_mh' leave.id %}">view</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</section>
<h1><a href="{% url 'leaves_approved_list' %}">All approved</a> or <a href="{% url 'leave_rejected_list' %}">all rejected</a></h1>
</body>
</html>